<footer class="bg-dark text-white text-center py-4 mt-5">

    <p class="mb-0">

        © <%= new Date().getFullYear() %> Prem Nikam

    </p>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>