<section id="skills" class="py-5" data-aos="fade-up">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">
            My Skills
        </h2>


        <div class="row">


            <% skills.forEach(skill => { %>


                <div class="col-lg-4 col-md-6 mb-4">


                    <div class="card skill-card shadow-sm h-100 border-0"
                    data-aos="flip-up">

                        <div class="card-body text-center">


                            <h4 class="fw-bold mb-4">
                                <%= skill.category %>
                            </h4>



                            <div class="d-flex flex-wrap justify-content-center gap-2">


                                <% skill.skills.forEach(item => { %>


                                    <span class="badge skill-badge">
                                        <%= item %>
                                    </span>


                                <% }) %>


                            </div>


                        </div>


                    </div>


                </div>


            <% }) %>


        </div>


    </div>


</section>