<!DOCTYPE html>
<html>
<head>
    <title>Add Project</title>
</head>

<body>

<h1>Add New Project</h1>


<form 
action="/projects" 
method="POST"
enctype="multipart/form-data">


<label>Project Name</label><br>
<input type="text" name="projectName"><br><br>


<label>Description</label><br>
<textarea name="description"></textarea><br><br>


<label>Technologies (comma separated)</label><br>
<input type="text" name="technologies"><br><br>


<label>GitHub Link</label><br>
<input type="text" name="githubLink"><br><br>


<label>Live Link</label><br>
<input type="text" name="liveLink"><br><br>


<div class="mb-3">

<label>Project Image</label>

<input 
type="file" 
name="image" 
class="form-control" 
required>

</div>


<label>Category</label><br>
<input type="text" name="category"><br><br>


<button>Add Project</button>


</form>


</body>
</html>